.section_left{
    width: 100%;
    table{
        width: 100%;
        box-sizing: border-box;
        tbody{
            background-color: rgba(0,0,0,.5);
            color: rgb(300,300,200);
        }
    }

    td{
        padding: .5rem;
        @media only screen and (max-width: 500px){
            padding: 1rem;
        }
    }
}

