.headTeacher{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding-right: .6rem;

    h3{
        color:rgba(0,100,200,.7);
        background-color: rgba(100,150,300, .5);
        margin: 0;
        padding: .7rem;
    }
    figure{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        img{
            width: 100%;
        }
    }
}